.nav-sidebar {
  margin-right: 20px;
  margin-bottom: 1000px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

body{
  background-color: grey;
}
.container{
  background-color: white;
}
